<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>magasin de vidéo</title>
        <link rel="stylesheet" href="style.css">
  </head>


    <body>
            <div class="cartes">
                <div class="carte">
                       <img src="icon-sedans.svg" alt="">
                       <h1>DESANG</h1>
                       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Repellat accusantium ipsa assumenda reiciendis officia veritatis </p>      
                        <input type="button" name="learn" value="Learn More"> 
                </div>
                  
                <div class="carte">
                    <img src="icon-suvs.svg"" alt="">
                    <h1>SUVS</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Repellat accusantium ipsa assumenda reiciendis officia veritatis </p>
                     <input type="button" name="learn" value="Learn More"> 
                </div>

                <div class="carte">
                    <img src="icon-luxury.svg" alt="">
                    <h1>LUXURY</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Repellat accusantium ipsa assumenda reiciendis officia veritatis </p>
                     <input type="button" name="learn" value="Learn More"> 
                </div>



            </div>
    </body>
</html>